<ul>
<li>2016.09.01: ver4.0 ベータテストを終了。会員制サイトの正式リリース。</li>
<li>2016.08.31: beta0.9 パスワードを忘れた際、再設定できるようになりました。</li>
<li>2016.08.23: beta0.8 ホームで評価の高い商品と新着商品を表示するようにしました。</li>
<li>2016.08.03: beta0.7 ホームでベストセラー商品を表示するようにしました。</li>
<li>2016.08.02: beta0.6 レビューを編集できるようになりました。</li>
<li>2016.08.01: beta0.5 お問い合わせを追加。</li>
<li>2016.07.31: beta0.4 簡易検索機能追加。新商品タカセ丸を入荷。</li>
<li>2016.07.30: beta0.3 登録完了用メールを送信するようにしました。</li>
<li>2016.07.29: beta0.2 マイページのデザインを変更、投稿したレビュー一覧の追加。</li>
<li>2016.07.28: beta0.1 会員制サイトのベータ公開。2、3号館を入荷。</li>
<li>2015.08.10: ver3.0 商品紹介画面を追加。レビューを投稿できるようになりました。</li>
<li>2015.07.24: ver2.1 お届け先情報入力画面にて、未入力の場合はエラーが返ってくるようにしました。</li>
<li>2015.07.20: ver2.0 入力情報確認画面を追加。自動確認メールを送るようにしました。XSS対策実装。</li>
<li>2015.07.15: ver1.1 簡易お問い合わせフォームを追加。</li>
<li>2015.06.24: ver1.0 Hamazonをオープン。東京電機大学千住キャンパス1号館を入荷しました。</li>
</ul>
